@font-face {
    font-family: "Winter Sans";
    src: url("shared/assets/fonts/WinterSans-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Winter Sans Italic";
    src: url("shared/assets/fonts/WinterSans-Italic.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Winter Sans";
    src: url("shared/assets/fonts/WinterSans-ExtraBold.woff2");
    font-weight: 800;
}

@font-face {
    font-family: "Winter Sans Italic";
    src: url("shared/assets/fonts/WinterSans-ExtraBoldItalic.woff2");
    font-weight: 800;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;


    font-family: "Winter Sans";

    --black: #1e1b22;
    --grey-1: #808181;
    --grey-2: #dcdcdc;
    --white: #f2f2f2;

    font-size: 1vw;


    /*     --h1-size: 37px;
    --h2-size: 46px;
    --h3-size: 34px;
    --h4-size: 28px;
    --h5-size: 20px;
    --h6-size: 20px;
    --p-size: 20px;
    --p2-size: 16px;

    --h1-lh: 46px;
    --h2-lh: 64px;
    --h3-lh: 48px;
    --h4-lh: 48px;
    --h5-lh: 32px;
    --h6-lh: 32px;
    --p-lh: 32px;
    --p2-lh: 24px; */

    --h1-size: 14rem;
    --h2-size: 12.4rem;
    --h3-size: 9rem;
    --h4-size: 7.6rem;
    --h5-size: 5rem;
    --h6-size: 5rem;
    --p-size: 5rem;
    --p2-size: 4.3rem;

    --button-size: 20px;
    --link-size: 16px;

    --h1-lh: 124%;
    --h2-lh: 139%;
    --h3-lh: 141%;
    --h4-lh: 171%;
    --h5-lh: 160%;
    --h6-lh: 160%;
    --p-lh: 160%;
    --p2-lh: 150%;

    --button-lh: 32px;
    --link-lh: 24px;
    --svg-scale: 0.6;
    --menu-scale: 0.72;
    --icon-size: 26px;
    --icon-max-size: 32px;

    --horizontal-paddings: 7rem;
    --bottom-padding: 20rem;

    --border-grey: 1px solid var(--grey-2);

    --gap: 10.7rem;
}

/* -------------------------------------------------------------------------- */
/*                                TABLET STYLES                               */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 600px) {
    :root {
        --svg-scale: 1;
        /*     --h1-size: 78px; or 10rem
        --h2-size: 94px;
        --h3-size: 54px;
        --h4-size: 38px;
        --h5-size: 32px;
        --p2-size: 20px;

        --h1-lh: 84px;
        --h2-lh: 128px;
        --h3-lh: 72px;
        --h4-lh: 56px;
        --h5-lh: 56px;
        --p2-lh: 32px; */



        --h2-size: 12rem;
        --h3-size: 7rem;
        --h4-size: 5rem;
        --h5-size: 4rem;
        --p2-size: 2.6rem;

        --h1-lh: 108%;
        --h2-lh: 136%;
        --h3-lh: 133%;
        --h4-lh: 147%;
        --h5-lh: 175%;
        --p2-lh: 160%;
    }
}

/* -------------------------------------------------------------------------- */
/*                               DESKTOP STYLES                               */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1023px) {
    :root {
        /*        --h1-size: 110px;
        --h6-size: 28px;

        --h1-lh: 118px;
        --h6-lh: 40px; */
        --h1-size: 7.6rem;
        --h2-size: 6.5rem;
        --h3-size: 3.75rem;
        --h4-size: 2.6rem;
        --h5-size: 2.2rem;
        --h6-size: 2rem;
        --p-size: 1.4rem;
        --p2-size: 1.4rem;

        --h1-lh: 107%;
        --h2-lh: 136%;
        --h3-lh: 133%;
        --h4-lh: 147%;
        --h5-lh: 175%;
        --h6-lh: 143%;
        --p-lh: 160%;
        --p2-lh: 160%;

        --svg-scale: 1;
        --icon-max-size: 44px;
    }
}


@media screen and (min-width: 1440px) {}