.button {
    background-color: transparent;
    color: inherit;
}

.button:active {}

.primary {
    font-size: var(--button-size);
    line-height: var(--button-lh);
}

.icon {
    width: calc(32px * var(--svg-scale));
    height: calc(32px * var(--svg-scale));

    svg {
        width: calc(32px * var(--svg-scale));
        height: calc(32px * var(--svg-scale));
    }
}

.accordeon {
    width: calc(44px * var(--svg-scale));
    height: calc(44px * var(--svg-scale));

    svg {
        width: calc(44px * var(--svg-scale));
        height: calc(44px * var(--svg-scale));
    }


}

.link {
    position: relative;
    font-size: var(--h6-size);
    line-height: var(--h6-lh);
    white-space: nowrap;

    &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        display: block;
        transition: all 0.3s ease;
        bottom: -4px;
        background-color: var(--primary-color);
    }

    &:hover {

        &::after {
            width: 100%;
        }
    }

}

.navigation {
    position: relative;
    font-size: var(--link-size);
    line-height: var(--link-lh);
    white-space: nowrap;

    &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        display: block;
        transition: all 0.3s ease;
        bottom: -4px;
        background-color: var(--primary-color);
    }

    &:hover {

        &::after {
            width: 100%;
        }
    }

}